@charset "UTF-8";

/* MARGIN
-------------------------------------------------------------------------------------------------*/
.ma05 { margin: 5px !important; }
.ma10 { margin: 10px !important; }
.mt00 { margin-top:  0px !important; }
.mt05 { margin-top:  5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }

.mr00 { margin-right:  0px !important; }
.mr05 { margin-right:  5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }

.mb00 { margin-bottom:  0px !important; }
.mb05 { margin-bottom:  5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }

.ml00 { margin-left:  0px !important; }
.ml05 { margin-left:  5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }

.m0a { margin: 0 auto !important; }

/* PADDING
-------------------------------------------------------------------------------------------------*/
.pa05 { padding: 5px !important; }
.pa10 { padding: 10px !important; }

.pt00 { padding-top:  0px !important; }
.pt05 { padding-top:  5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px !important; }

.pr00 { padding-right:  0px !important; }
.pr05 { padding-right:  5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }
.pr35 { padding-right: 35px !important; }
.pr40 { padding-right: 40px !important; }

.pb00 { padding-bottom:  0px !important; }
.pb05 { padding-bottom:  5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }

.pl00 { padding-left:  0px !important; }
.pl05 { padding-left:  5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
.pl35 { padding-left: 35px !important; }
.pl40 { padding-left: 40px !important; }

.fc_text1 { color: #0f2762 !important; }
.fc_text2 { color: #3b6caf !important; }
.fc_text3 { color: #386637 !important; }
.fc_text4 { color: #ff0000 !important; }
.fc_text5 { color: #be0d27 !important; }


.bg1 {
	background-color: #c8daea !important;
}

.bg2 {
	background-color: #aecceb !important;
}




body {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Roboto,sans-serif !important;
	color: #333 !important;
	line-height: 170% !important;
}

.site-content {
	margin-top: 30px !important;
	margin-bottom: 50px !important;
}


/*menu*/
h1 {
	display: inline !important;
}

@media screen and (max-width: 1024px){
	h1 {
		position: relative !important;
		top: 10px !important;
	}
}

.sticky-wrapper, .top-bar {
	background: #3b6caf !important;
}
.top-bar a:hover {
	color: #0f2762 !important;
}

/*breadcrumb*/
ol.breadcrumb {
	padding: 0 !important;
	margin-bottom: 0 !important;
	background-color: transparent !important;
	border-radius: 0 !important;
	font-size: 0.9em;
	color: #333;
}
ol.breadcrumb>li {
	display: inline-block;
}
ol.breadcrumb>li+li:before {
	padding: 0 5px;
	content: '>';
	color: #333;
}




section .widget-title:after {
	border-bottom: 6px double #be0d27 !important;
}

a h4 {
	color: #3b6caf !important;
}


a.icon_link {
	text-decoration: none !important;
}
	a.icon_link:hover .service-icon, a.icon_link:hover h4 {
		opacity: 0.7 !important;
		filter: alpha(opacity=70) !important;
		-ms-filter: "alpha(opacity=70)" !important;
	}

	a.icon_link .service-icon {
		background-color: #3b6caf !important;
	}


/* background */
.front_background_1 {
	display: block !important;
	background: url('/2018/unc/wp-content/themes/unc/images/top_back1.jpg') no-repeat !important;
	background-position: center top !important;
	background-attachment: fixed !important;
	background-size: cover !important;
	z-index: -1 !important;
	color: #fff !important;
	text-align: center;
	font-weight: bold !important;
	font-size: 3em !important;
	text-shadow: 5px 5px 5px #000 !important;
	line-height:150% !important;
}
@media only screen and (max-width: 739px){
	.front_background_1 {
		font-size: 2em !important;
	}
}


.front_background_1 p {
	margin-bottom: 50px !important;
}

/* Taxonomies */
.section_custom h4 {
	color: #0f2762 !important;
	font-size: 18px !important;
}
.section_custom .panel-grid {
	background-color: transparent !important;
}
.section_custom .kind {
	background-color: #bd1455 !important;
	color: #fff;
	font-size: 0.8em;
	padding: 2px 10px;
}
.section_custom .icon a{
	color: #3b6caf !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
}
.section_custom .icon a i:hover{
	color: #3b6caf !important;
	opacity: 0.7 !important;
	filter: alpha(opacity=70) !important;
	-ms-filter: "alpha(opacity=70)" !important;
}
.section_custom .youtube {
	position: relative;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	overflow: hidden;
}
.section_custom .youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.section_custom ul.condition_list li span.cate {
	display: inline-block;
	color: #ffffff !important;
	padding: 5px 0;
	width: 76px !important;
	text-align: center !important;
}
.section_custom ul.condition_list li span.cate1 {
	background-color: #0f2762 !important;
}
.section_custom ul.condition_list li span.cate2 {
	background-color: #3b6caf !important;
}




























/*footer*/
.footer-widget-area {
	background: #226496 !important;
}
	.footer-widget-area .widget-title {
		color: #ffffff !important;
		border-bottom: 4px double #bbe1ea !important;
	}

.site-footer {
	border-top: 1px solid #bbe1ea !important;
	background: #3b6caf !important;
}

.site-footer .site-info {
	color: #ffffff !important;
}



/* page ul */
.entry-content ul {
	padding-left: 0;
}

.entry-content ul li {
	margin: 0;
	margin-bottom: 5px;
	list-style-type: none;
}

.entry-content ul:not(.condition_list) li:before {
	padding-right: 10px;
	content: '\f138';
	color: #333;
	font-family: 'fontawesome';
}



/* Access */
 #maps {
	 width: 100%;
	 height: 400px;
 }

/* Ticket */
.page_ticket {}
.page_ticket .lead {
	font-size: 1.1em;
	line-height: 170%;
}

.page_ticket .tbl1 td, .page_ticket .tbl2 td {
	background-color: #ffffff;
}

.page_ticket .tbl1 {
	border-bottom:1px solid #ddd !important;
}
.page_ticket .tbl1 th {
	width: 230px;
	font-weight: bold;
}
.page_ticket span.sm { font-size: 0.8em; }
.page_ticket .tbl1 .td1 { background-color: #eee; }

.page_ticket .tbl2 {
	border-bottom:1px solid #ddd !important;
}
.page_ticket .tbl2 th, .page_ticket .tbl2 td {
	vertical-align: middle;
}
.page_ticket .tbl2 th {
	width: 200px;
	font-weight: bold;
}
.page_ticket .tbl2 td.td_button {
	width: 120px;
	text-align: center;
}

@media only screen and (max-width: 499px){
	table {
		table-layout: auto !important;
	}
}




/*QUESTION*/
dl.dl_question {
	text-align: left;
}
dl.dl_question dt {
	padding-bottom: 10px;
	font-size: 1.1em;
	font-weight: normal;
	color: #333;
}
dl.dl_question dt:before {
	content: 'Q : ';
	font-weight: bold;
	font-size: 1.5em;
	color: #0f2762;
}
dl.dl_question dd {
	margin-bottom: 30px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ccc;
	line-height: 170%;
}
dl.dl_question dd:before {
	content: 'A : ';
	font-weight: bold;
	font-size: 1.5em;
	color: #3b6caf;
}













